
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
}
.nav1{
    background: rgb(2, 9, 37);
    height: 70px;
    margin-top: 0%;
    margin-right: 0px;
    width: 92.82%;
    margin-left: 110px;
    

}
.nav2{
    background: rgb(229 234 248);
    height: 70px;
    margin-top: 0%;
    margin-right: 0px;
    width: 100%;
    margin-left: 0px;
    

}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 70px;
    font-weight: bold;
    padding-left: 23px;
}
.nav1 ul{
    float: right;
    margin-right: 20px;

}
.nav2 ul{
    float: left;
    margin-right: 20px;

}

.nav1 ul li{
    display: inline;
    line-height: 80px;
    margin: 0 5px;
    margin-left: 100px;

}
.nav2 ul li{
    display: inline;
    height: 10px;
    margin-right: 12px;
    line-height: 53px;
    margin: 0 5px;

}

.nav1 ul li a{
    color: white;
    font-size: 12px;
    /* border: 4px solid rgb(194, 207, 248); */
    padding: 5px;
    border-radius: 5px;
    text-transform: capitalize;
    
}
.nav2 ul li a{
    color: rgb(10, 4, 44);
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 6px;
    text-transform: capitalize;
    
}

.nav1 a:hover{
    background: rgb(194, 207, 248);
    transition: .5s;
    color: rgb(0, 3, 12);
}
.nav2 a:hover{
    background: rgb(6, 10, 34);
    transition: .5s;
    color: rgb(255, 255, 255);
}

.nav1 img{
    height: 70px;
    float: left;
    width: 110px;
    left: 0;
    margin-left: -110px;
}

input {
    float: right;
    margin-top: -46px;
    margin-left: 835px;
    padding: 6px;
    width: 16%;
    border-radius: 4px;
}


